<style type="text/css">
  
body {
  min-height: 1600px;
  min-width: 1600px;
}
.leader-line {
  z-index: -1;
}
.node {
  height: auto;
  min-width: 100px;
  max-width: 250px;
  background: #d8d8d8;
  margin: 10px;
}
.label {
  flex: 100px;
  min-width: 100px;
  max-width: 250px;
}
.node-name .label {
  flex: 100px;
  min-width: 100px;
  max-width: 250px;
  padding: 0 5px;
  border: 3px #5b5b5b solid;
}

.label-text {
  padding: 0 5px;
}
.slot-button {
  padding: 4px 4px 4px 6px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  background: transparent;
  border: 4px #8e8e8e solid;
  color: #5b5b5b;
}
.slot-config {
  padding: 4px 4px 4px 6px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  background: transparent;
  border: 1px #8e8e8e solid;
  color: #5b5b5b;
  border-radius: 30px;
}
.field-active,
.field-inactive {
  padding: 5px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  background: #fff;
  color: #5b5b5b;
  text-transform: none;
  font-style: italic;
}
.field-inactive {
  border: 3px #5b5b5b solid;
  background: #ccc;
  color: #5b5b5b;
  text-transform: none;
  font-style: italic;
}
.slot-active,
.slot-inactive {
  padding: 4px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  border: 3px #5b5b5b solid;
  background: #fff;
  color: #5b5b5b;
}
.slot-inactive {
  background: #8e8e8e;
  border: 3px #8e8e8e solid;
  color: #fff;
}
.slot:last-child {
  margin-top: 10px;
  margin-bottom: 10px;
}
.elevation-3 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.small {
  width: 8px;
  height: 8px;
  border-width: 4px;
  border-color: #d8d8d8;
  border-style: solid;
}
.name {
  width: 40px;
  height: 40px;
  border-width: 3px;
  border-color: #d8d8d8;
  border-style: solid;
}
.active {
  background: #30c117;
  border-color: #30c117;
  border-style: solid;
}


.node-name {
  font-size: 14px;
  font-weight: 700;
  padding: 0px 0px;
  text-transform: uppercase;
  color: #dddddd;
  background: #5b5b5b;
  margin: 0;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.node-name.slot-active {
  border-style: none;
}

.node-name.slot-active .slot-anchor-node-name.slot-anchor-active {
  background: #30c117;
  border-color: #30c117;
  border-style: solid;
}



</style>
<header>


<%= javascript_include_tag   'https://cdn.jsdelivr.net/npm/leader-line@1.0.5/leader-line.min.js' %>
<%= javascript_include_tag   'https://cdn.jsdelivr.net/npm/plain-draggable@2.5.12/plain-draggable.min.js' %>
<%= javascript_include_tag 'tasks.js', 'data-turbolinks-track' => true %>



  <h2>
    <table>
      <tc>
        <td> 
          <img src="/assets/HRDT.png" alt="Logo" width="110px" height="50px" style="vertical-align:top;">
        </td>
      </tc>
      <tc>
        <td>
                  
        </td>
      </tc>
      <tc>
          <td>
            <a class="header" href="index.html" >Home</a>
          </td>
      </tc>

      <tc>
        <td>
          <a class="header" href="/tasks">TaskTracker</a>
        </td>
      </tc>

      <tc>
        <td>
          <a class="header" href="/users">Contacts</a>
        </td>
      </tc>
      <tc>
        <td>
          <a class="header" href="index.html">Help</a>
        </td>
      </tc>
      <tc>
        <td>
          <a class="header" href="/logout">Sign Out</a>
        </td>
      </tc>
    </table>
  </h2>
</header>

<!-- The page title header adjust the -->
<!-- content to compensate for the fixed navigation bar -->
<h1 class="task-page-title">Tasks</h1>

<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<div id="overlay">
  <span title="Create New Task">
    <a href="tasks/new">
      <img class="create-button" src="/assets/create-button.png" alt="Create New Task Button" width="110px" height="110px">
    </a>
  </span>
</div>

<!-- This will list all the task id and task names -->
<body>
  <div>
  <% @tasks.in_groups_of(1) do |group| %>
    <div class="card-group">
      <% group.compact.each do |task| %>

        <div class="card">
          
          <div class="container">
            <h4><b> <%=task.task_name%> </b></h4>
            <p>Task ID: <%=task.id%></p>
            <p>Due Date: <%=task.due_date%></p>
            <p>Description: <%=task.task_description%></p>
            <p>Tag: <%=task.tag%></p>
          </div>
        </div>

      <% end %>
    </div>
  <% end %>
</body>



<body id="container">
  <% @tasks.each do |task| %>

        <div class="node" id=<%=task.id%>>
          <div class="node-name">
            <div class="name active"></div>
              <div class="label"> 
                <p>Task ID: <%=task.id%></p>
              </div>

                <div class="name active"> </div>
          </div>
          <div class="slot-active">
          <% if task.claimed_by.nil? %> 
          <div class="small"> </div>
          <% else %> 
          <div class="small active"> </div>
          <% end %>

      <div class="label"> 
        <p>Task: <%=task.task_name%></p>

         <%= link_to "#{task.id}, class: "btn btn-primary" %>

        <button onclick="myFunction(<%=task.id%>)">Open</button>


      </div>
        </div>
        
      </div>
      <% end %>

</body>

  <script type="text/javascript">

    function myFunction(elem){
  document.location.href = "https://powerful-waters-96115.herokuapp.com/tasks/"+elem;
}

  </script>