<style type="text/css">
  
body {
  min-height: 1600px;
  min-width: 1600px;
}
.leader-line {
  z-index: -1;
}
.node {
  height: auto;
  position: absolute;
  min-width: 100px;
  max-width: 250px;
  background: #d8d8d8;
  margin: 10px;
}
.label {
  flex: 100px;
  min-width: 100px;
  max-width: 250px;
}
.node-name .label {
  flex: 100px;
  min-width: 100px;
  max-width: 250px;
  padding: 0 5px;
  border: 3px #5b5b5b solid;
}

.label-text {
  padding: 0 5px;
}
.slot-button {
  padding: 4px 4px 4px 6px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  background: transparent;
  border: 4px #8e8e8e solid;
  color: #5b5b5b;
}
.slot-config {
  padding: 4px 4px 4px 6px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  background: transparent;
  border: 1px #8e8e8e solid;
  color: #5b5b5b;
  border-radius: 30px;
}
.field-active,
.field-inactive {
  padding: 5px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  background: #fff;
  color: #5b5b5b;
  text-transform: none;
  font-style: italic;
}
.field-inactive {
  border: 3px #5b5b5b solid;
  background: #ccc;
  color: #5b5b5b;
  text-transform: none;
  font-style: italic;
}
.slot-active,
.slot-inactive {
  padding: 4px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  border: 3px #5b5b5b solid;
  background: #fff;
  color: #5b5b5b;
}
.slot-inactive {
  background: #8e8e8e;
  border: 3px #8e8e8e solid;
  color: #fff;
}
.slot:last-child {
  margin-top: 10px;
  margin-bottom: 10px;
}
.elevation-3 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.small {
  width: 8px;
  height: 8px;
  border-width: 4px;
  border-color: #d8d8d8;
  border-style: solid;
}
.name {
  width: 22px;
  height: 22px;
  border-width: 3px;
  border-color: #d8d8d8;
  border-style: solid;
}
.active {
  background: #30c117;
  border-color: #30c117;
  border-style: solid;
}


.node-name {
  font-size: 14px;
  font-weight: 700;
  padding: 0px 0px;
  text-transform: uppercase;
  color: #dddddd;
  background: #5b5b5b;
  margin: 0;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.node-name.slot-active {
  border-style: none;
}

.node-name.slot-active .slot-anchor-node-name.slot-anchor-active {
  background: #30c117;
  border-color: #30c117;
  border-style: solid;
}



</style>
<header>


<%= javascript_include_tag   'https://cdn.jsdelivr.net/npm/leader-line@1.0.5/leader-line.min.js' %>
<%= javascript_include_tag   'https://cdn.jsdelivr.net/npm/plain-draggable@2.5.12/plain-draggable.min.js' %>
<%= javascript_include_tag 'tasks.js', 'data-turbolinks-track' => true %>


</header>

<!-- The page title header adjust the -->
<!-- content to compensate for the fixed navigation bar -->
<h1 class="task-page-title">
  <div class="task-page-title-styling">Tasks</div>
  <div class="filter-field">
      <form action="/filtered">
        <input type="text" name="tagsearch" id="tagsearch" />
        <input type="submit" value="Filter by Tag"/>
      </form>
    </div>
  </h1>

<% if current_user.role == 'admin' || current_user.role == 'moderator' %>
  <div id="overlay">
    <span title="Create New Task">
      <a href="tasks/new">
        <img class="create-button" src="/assets/create-button.png" alt="Create New Task Button" width="110px" height="110px">
      </a>
    </span>
  </div>
<% end %>

<!-- This will list all the task id and task names -->
<body>
  <div>
  <% @tasks.in_groups_of(1) do |group| %>
    <div class="card-group">
      <% group.compact.each do |task| %>


          <div class="card">
          <a href="tasks/<%= task.id %>">
          <div class="container">
            <h4><b> <%=task.task_name%> </b></h4>
            <p>Task ID: <%=task.id%></p>
            <p>Due Date: <%=task.due_date.strftime('%Y-%m-%d')%></p>
            <p>Description: <%=task.task_description%></p>
            <p>Tag: <%=task.tag%></p>

          </div>

      <% end %>
    </div>
  <% end %>
</body>


<body id="container">
  <% @tasks.in_groups_of(1) do |group| %>
    <div class="card-group">
      <% group.compact.each do |task| %>

        <div class="node">
          <div class="node-name">
            <div class="name active"></div>
              <div class="label"> 
                <p>Task ID: <%=task.id%></p>
              </div>

                <div class="name active"> </div>
          </div>
          <div class="slot-active">
          <div class="small inactive"> </div>
      <div class="label"> 
        <p>Description: <%=task.task_description%></p>


      </div>
        </div>
        <div class="small inactive"> </div>
      </div>
    </div>

</body>





          <div class="container">
            <h4><b> <%=task.task_name%> </b></h4>
            <p>Task ID: <%=task.id%></p>
            <p>Due Date: <%=task.due_date%></p>
            <p>Description: <%=task.task_description%></p>
            <p>Tag: <%=task.tag%></p>
          </div>
        </div>

      <% end %>
    </div>
  <% end %>
</body>


<body id="container">

  <button id="addButton">
Add Button
</button>


  
 

  <script type="text/javascript">


  </script>

  
</body>

