<h1>Tasks Detatils for Task with ID: <%= @task.id %> </h1>
<p>Find me in app/views/tasks/show.html.erb</p>

<div>
  <div>
    Task Name: <%= @task.task_name %>
  </div>

  <div>
    Claimed By: <%= @task.claimed_by %>
  </div>

  <div>
    Description: <%= @task.task_description %>
  </div>

  <div>
    Due Date: <%= @task.due_date %>
  </div>

  <div>
    Child Task ID: <%= @task.child_task_id %>
  </div>

  <div>
    Tag: <%= @task.tag %>
  </div>

</div>