<!-- This page will list out attributes of a particualar task -->

<!-- Navigation bar -->
<header>
  <h2>
    <table>
      <tc>
        <td> 
          <img src="/assets/HRDT.png" alt="Logo" width="110px" height="50px" style="vertical-align:top;">
        </td>
      </tc>
      <tc>
        <td>
                  
        </td>
      </tc>
      <tc>
          <td>
            <a class="header" href="index.html" >Home</a>
          </td>
      </tc>

      <tc>
        <td>
          <a class="header" href="/tasks">TaskTracker</a>
        </td>
      </tc>

      <tc>
        <td>
          <a class="header" href="/users">Contacts</a>
        </td>
      </tc>
      <tc>
        <td>
          <a class="header" href="index.html">Help</a>
        </td>
      </tc>
      <tc>
        <td>
          <a class="header" href="/logout">Sign Out</a>
        </td>
      </tc>
    </table>
  </h2>
</header>

<h1>Tasks Detatils for Task with ID: <%= @task.id %> </h1>

<div>
  <div>
    Task Name: <%= @task.task_name %>
  </div>

  <div>
    Claimed By: <%= @task.claimed_by %>
  </div>

  <div>
    Description: <%= @task.task_description %>
  </div>

  <div>
    Due Date: <%= @task.due_date %>
  </div>

  <div>
    Child Task ID: <%= @task.child_task_id %>
  </div>

  <div>
    Tag: <%= @task.tag %>
  </div>

</div>