


<!-- This page will list out attributes of a particualar task -->

<!-- Navigation bar -->
<header>
  <h2>
    <table>
      <tc>
        <td> 
          <img src="/assets/HRDT.png" alt="Logo" width="110px" height="50px" style="vertical-align:top;">
        </td>
      </tc>
      <tc>
        <td>
                  
        </td>
      </tc>
      <tc>
          <td>
            <a class="header" href="/index.html" >Home</a>
          </td>
      </tc>

      <tc>
        <td>
          <a class="header" href="/tasks">TaskTracker</a>
        </td>
      </tc>

      <tc>
        <td>
          <a class="header" href="/users">Contacts</a>
        </td>
      </tc>
      <tc>
        <td>
          <a class="header" href="/index.html">Help</a>
        </td>
      </tc>
      <tc>
        <td>
          <a class="header" href="/logout">Sign Out</a>
        </td>
      </tc>
    </table>
  </h2>
</header>

<!-- The page title header adjust the -->
<!-- content to compensate for the fixed navigation bar -->
<h1 class="task-page-title"></h1>

<!--<h1>Tasks Detatils for Task with ID: <%= @task.id %> </h1>-->

<div>
  <div>
    <h1>
      <%= @task.task_name %>
    <h1>
  </div>

  <div>
    Description: <%= @task.task_description %>
  </div>

  <div>
    Due Date: <%= @task.due_date %>
  </div>

  <div>
    Claimed By: <%= @task.claimed_by %>
  </div>



  <div>
    Child Task ID: <%= @task.child_task_id %>
  </div>

  <div>
    Tag: <%= @task.tag %>
  </div>

  <% if @task.claimed_by == nil %>
    <div>
      <%= form_with model: @task do |form| %>

      <div>
        <%= form.hidden_field(:claimed_by, value: current_user.id) %>
        <% @task.errors.full_messages_for(:claimed_by).each do |message| %>
        <div><%= message %></div>
        <% end %>
      </div>

      <div>
        <%= form.button :"Claim Task" %>
      </div>
      <% end %>
    </div>
  <% end %>

  <% if @task.claimed_by == current_user.id %>
    <div>
      <%= form_with model: @task do |form| %>

      <div>
        <%= form.hidden_field(:claimed_by, value: nil) %>
        <% @task.errors.full_messages_for(:claimed_by).each do |message| %>
        <div><%= message %></div>
        <% end %>
      </div>

      <div>
        <%= form.button :"Unclaim Task" %>
      </div>
      <% end %>
    </div>
  <% end %>

  <% if current_user.role == 'admin' || current_user.role == 'moderator' %>
    <div>
      <a href="/tasks/<%= @task.id %>/edit"> Edit 
    <div>
    <div>
      <%= link_to "Delete", task_path(@task),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
    <div>
  <% end %>
    
  



</div>