<!-- Page with form to fill out to make a new account -->
<h1>Create Account</h1>

<div>
  <%= form_with model: @user do |f| %>
    
    <div>
      <%= f.label 'Full Name' %><br>
      <%= f.text_field(:full_name) %>
      <% @user.errors.full_messages_for(:full_name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <!-- If current user is member, do not allow selection of admin or moderator -->
    <div>
    <%= f.label 'Role' %><br>
      <%= f.select(:role, Role.all.reject {|role| (role.role_name == 'admin' || role.role_name == 'moderator')}.map(&:role_name), { include_blank: false }) %>
      <% @user.errors.full_messages_for(:role).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= f.label 'Email' %><br>
      <%= f.text_field(:email) %>
      <% @user.errors.full_messages_for(:email).each do |message| %>
        <div><%= message %></div>
      <% end %>
      <% if @badEmail %>
        <p>Error: Email is not on whitelist.</p>
      <% end %>
    </div>

    <div>
      <%= f.label 'Discord Username' %><br>
      <%= f.text_field(:discord_username) %>
      <% @user.errors.full_messages_for(:discord_username).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= f.label 'Phone' %><br>
      <%= f.text_field(:phone) %>
      <% @user.errors.full_messages_for(:phone).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= f.label 'Username' %><br>
      <%= f.text_field(:username) %>
      <% @user.errors.full_messages_for(:username).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= f.label 'Password' %><br>
      <%= f.text_field(:password) %>
      <% @user.errors.full_messages_for(:password).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="form-buttons">
      <%= f.submit("Create Account") %>
    </div>

  <% end %>
</div>