<%=render "header.html.erb"%>

<!-- This page will list out the id and full name
     of a particualar user -->


<!-- The page title empty header adjust the -->
<!-- content to compensate for the fixed navigation bar -->
<h1 class="page-title"><h1>

<h1>Account Details for <%= @user.full_name %>: </h1></h1>

<div>
  <div>
    Name: <%= @user.full_name %>
  </div>

  <div>
    Role: <%= @user.role %>
  </div>

  <div>
    Email: <%= @user.email %>
  </div>

  <div>
    Phone: <%= @user.phone %>
  </div>

  <div>
    Discord: <%= @user.discord_username %>
  </div>

  <div>
    User ID: <%= @user.id %>
  </div>

  <% if current_user.role == 'admin' || current_user.role == 'moderator' || current_user.id == @user.id %>
    <div>
      <button> <%= link_to "Edit", user_path(@user) + "/edit" %> </button>
    </div>
  <% end %>

</div>
