<header>
    <!-- This the top navigation panel -->
    
      <h2>
        <table>
          <tc>
            <td> 
              <img src="HRDT.png" alt="Logo" width="110px" height="50px" style="vertical-align:top;">
            </td>
          </tc>
          <tc>
            <td>
                     
            </td>
          </tc>
          <tc>
              <td>
                <a class="header" href="/index.html" >Home</a>
              </td>
          </tc>

          <tc>
            <td>
              <a class="header" href="/tasks">TaskTracker</a>
            </td>
          </tc>

          <tc>
            <td>
              <a class="header" href="/users">Contacts</a>
            </td>
          </tc>
          <tc>
            <td>
              <a class="header" href="/index.html">Help</a>
            </td>
          </tc>
        </table>
      </h2>
    </header>

<% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

<h1>Book Collection</h1>

<ul>
    <table border="1">
        <tr>
            <td> <b>Title</b> </td>
            <td> <b>Author</b> </td>
            <td> <b>Genre</b> </td>
            <td> <b>Price</b> </td>
            <td> <b>Publication Date</b> </td>
        </tr>

    <% @books.each do |book| %>
        <tr>
            <td> <%= link_to book.title, book %> </td>
            <td> <%=book.author%> </td>
            <td> <%=book.genre%> </td>
            <td> $ <%=book.price%> </td>
            <td> <%=book.published_date%> </td>
            <td><a class="main" href="/books/delete/<%= book.id %>"> Delete <td>
        </tr>
    <% end %>
    </table>
    <br>
    <%= link_to "New Book", new_book_path %>
</ul>
