<%=render "header.html.erb"%>

<!-- This page will list out attributes of a particualar valid email -->

<!-- The page title header adjust the -->
<!-- content to compensate for the fixed navigation bar -->
<h1 class="valid_emails-page-title"></h1>

<!--<h1>Tasks Detatils for Task with ID: <%= @valid_email.id %> </h1>-->

<div>
  <div>
    <h1>
      <%= @valid_email.email %>
    <h1>
  </div>

  <div>
    In Use: <%= @valid_email.in_use %>
  </div>


  <% if current_user.role == 'admin' || current_user.role == 'moderator' %>
    <div>
      <button> <%= link_to "Edit", valid_email_path(@valid_email) + "/edit" %> </button>
    </div>

    <div>
      <button>
        <%= link_to "Delete", valid_email_path(@valid_email),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
      </button>
    </div>
  <% end %>
</div>